---
layout: default
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-line"></div>

    <span style="font-size: 150%">
    {{ content }}
    </span>
</div>

<div class="catalogue">
    {% for tag in site.tags %}
        {% if tag[0] != "Jobs" %}
            {% continue %}
        {% endif %}

        <hr>
        <h2>We are looking for:</h2>

        {% for post in tag[1] %}
            {% include catalogue_item.html %}
        {% endfor %}
    {% endfor %}
</div>
